<!-- Auth form to be identified as a Jaspersoft user -->
<div class="row">
	<div id="authentication_jasper" class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngIf="!authStatus">
		<h4>Authentification</h4>
		<form (ngSubmit)="onSubmit(f)" #f="ngForm">
		    <div class="form-group">
		        <label class="col-form-label" for="j_username">Nom d'utilisateur Jasper</label>
		        <input id="j_username" class="form-control" type="text" name="n_j_username" ngModel required>
		    </div>
		    <div class="form-group">
		        <label class="col-form-label" for="j_password">Mot de passe</label>
		        <input id="j_password" class="form-control" type="password" name="n_j_password" ngModel required>
		    </div>
		    <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Se connecter</button>
		</form>
		<p id="error_auth" class="text-danger"></p>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngIf="authStatus">
		<h4>Authentification</h4>
		<button class="btn btn-danger" (click)="onSignOut()">Se déconnecter</button>
	</div>
	<!--<iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" align="middle" frameborder="0" height="700" scrolling="no" width="100%" src="http://srvreporting-01:8080/jasperserver-pro/flow.html?_flowId=viewReportFlow&_flowId=viewReportFlow&ParentFolderUri=%2FL4_logistics%2FConception%2Frapports_test%2Ftest%2Ftest_mongodb&reportUnit=%2FL4_logistics%2FConception%2Frapports_test%2Ftest%2Ftest_mongodb%2Fadaptative_mongodb&standAlone=true&Activite=SMB&j_username=asimon&j_password=37%22%"></iframe>-->


	<!-- HTTPS LAUNCH CMD 
		ng serve --ssl true --ssl-cert "C:\\github\\angular5\\mon-premier-projet\\ssl\\server.crt" --ssl-key "C:\\github\\angular5\\mon-premier-projet\\ssl\\server.key"
	-->

	<!-- VPS HTTPS IFRAME -->
<!-- 	<iframe marginwidth="0" marginheight="0" hspace="0" vspace="0" align="middle" frameborder="0" height="700" scrolling="no" width="100%" src="https://arnaudsimon.ovh:8443/jasperserver-pro/flow.html?_flowId=viewReportFlow&_flowId=viewReportFlow&ParentFolderUri=%2Fpublic%2FSamples%2FReports&reportUnit=%2Fpublic%2FSamples%2FReports%2FSalesByMonthReport&standAlone=true&j_username=jasperadmin&j_password=jasperadmin"></iframe> -->

</div>