<div id="create_choice_div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"style="display: block;">
	<form (ngSubmit)="onCreateChoice(f)" #f="ngForm" name="create_choice_form" class="form_to_submit col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-6 offset-xs-3 justify-content-center" method="POST">
        <div class="form-group">
            <label class="col-form-label" for="input_create_choice"><b>Choisir le type de la ressource à créer</b></label>
            <select id="input_create_choice" class="form-control" name="input_create_choice" [(ngModel)]="create_choice" ngModel required>
            	<option *ngFor="let choice of choices; let i = index" [value]="choices[i].id">
            		{{choices[i].name}}
            	</option>
            </select>
        </div>
        <input type="submit" class="btn btn-secondary col-lg-12" value="Valider" [disabled]="f.invalid"/>
    </form>
</div>

<div id="iframe_div" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-content-center" style="text-align: center;">
	<button id="refresh_button" class="btn btn-sm btn-warning" style="display: none;">Désactiver le mode "recherche"</button>
</div>